*.o
*.a
*.cmd
*.gdb
*.sgbuilt_user
.config
.config.old
.oldconfig
/include
/romfs
/images
Kconfig
auto.conf
autoconf.h
config.arch
config/autoconf.h
config/kconfig/conf
config/kconfig/mconf
linux-2.6.x/arch/nios2nommu/boot/zImage
linux-2.6.x/arch/nios2nommu/hardware.mk
linux-2.6.x/include/nios2_system.h
linux-2.6.x/linux
Config.in
tools/cksum
tools/sg-cksum/cksum
tools/ucfront-g++
tools/ucfront-gcc
tools/ucfront-ld
tools/ucfront/ucfront
tools/ucfront/ucfront-ld
user/boa/src/boa
user/busybox/.kconfig.d
user/busybox/.kernelrelease
user/busybox/applets/usage
user/busybox/busybox
user/busybox/busybox.links
user/busybox/busybox_unstripped
user/busybox/include/autoconf.h
user/busybox/include/bbconfigopts.h
user/busybox/include/config/
user/busybox/include/usage_compressed.h
user/busybox/scripts/basic/docproc
user/busybox/scripts/basic/fixdep
user/busybox/scripts/basic/split-include
user/busybox/scripts/kconfig/conf
user/busybox/scripts/kconfig/lex.zconf.c
user/busybox/scripts/kconfig/zconf.hash.c
user/busybox/scripts/kconfig/zconf.tab.c
user/cgi_generic/cgi_demo
user/debug/debug
user/dhcpcd-new/dhcpcd
user/ftp/ftp/ftp
user/ftpd/ftpcmd.c
user/ftpd/ftpd
user/inetd/inetd
user/init/expand
user/init/init
user/init/simpleinit
user/ntp/builddir/
user/sash/sh
user/telnetd/telnetd

